{% extends "blank.html" %} {% load staticfiles %} {% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url(' {% static 'img/about-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>About</h1>
          <span class="subheading">{{blog.about_sub_title}}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{blog.about_blog|safe}}
      </div>
    </div>
    </div>
  </div>
</article>

{% endblock %}