{% extends "blank.html" %} {% load staticfiles %} {% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url(' {% static 'img/home-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{blog.title}}</h1>
          <span class="subheading">{{blog.sub_title}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in posts %}
      <div class="post-preview">
        <a href="posts/{{post.permalink}}">
          <h2 class="post-title">
            {{post.title}}
          </h2>
        </a>
        <p class="post-meta">Posted by
          <a href="#">{{post.user.first_name}} {{post.user.last_name}}</a>
          on {{post.post_date|date:'d M Y g:i a'}}
          <br/> at
          <a href="#">{{post.category|title}}</a>
        </p>
      </div>
      {% endfor %}
      <!-- Pager -->
      <div class="clearfix">
        {% if posts.has_other_pages %}
        <ul class="pagination">
          {% if posts.has_previous %}
          <li>
            <a class="btn btn-primary float-right" href="?page={{ posts.previous_page_number }}">Newer Posts</a>
          </li>
          {% endif %} 
          &nbsp;&nbsp;
          {% if posts.has_next %}
          <li>
            <a class="btn btn-primary float-right" href="?page={{ posts.next_page_number }}">Older Posts</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}